.delivery__container {
    padding: 68px 81px;
    justify-content: center;
    background: url(../../img/bg.png)  bottom no-repeat;
    background-size: 93%;
   
}
.delivery {
    background: #161616;
}
.main__title--delivery {
    
    margin-bottom: 61px;
    text-align: center;
    color: #FFFFFF;
}
.delivery {
 
color:#FFFFFF;
}