.delivery__container {
    padding: 68px 81px;
    min-height: 652px;
    background: url(../../img/bg.png)  bottom no-repeat;
    background-size: 93%;
   
}
.delivery__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 61px;
    text-align: center;
    color: #FFFFFF;
}
.delivery {
 
color:#FFFFFF;
}