.why {
    background: #ffffff;

}

.why__container {
    justify-content: center;
    align-items: center;
    
}

.why__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.why__subtitle {
    color: #666666;
    width: 50%;
    text-align: center;
    margin-bottom: 55px;
}